<!DOCTYPE html>
<html lang="en">
<head>
    
    <!-- CHANGE THE TITLE HERE -->
    <title>Language Detector</title>
    <!-- CHANGE THE TITLE HERE -->

    <link href="../static/style.css" rel="stylesheet">
        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
    <header>
        <div class="outerContainer">
                <div class="header-div">
                <h1 style="color:#ecf0f1;"><a href="/">Language Detector</a><h1>
                </div>
        </div>
        </header>

{% block body %}{% endblock %}

</body>

</html>